{% extends 'base.html' %}

{% load static %}

{% block main_content %}

    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <form action="{% url 'signup user' %}" method="post">
                {{ form }}

                <button type="submit">Register</button>
                {% csrf_token %}
            </form>

        </div>
        <div class="second-option">
            <p>Have an account? <a href="{% url 'signin user' %}">Log in</a></p>
        </div>
    </div>

{% endblock %}
